.header {
    grid-area: h;
    background-color: #b1bde5;
    border-radius: 15px;
    height: 96px;
}

.headerContent{
    font-size: 40px;
    margin-left: 52px;
    margin-top: 20px;
    font-style: italic;
}

.loginBlock {
    float: right;

}

.loginBlock a {
    color: white;
    text-decoration: none;
}

