.showMoreBtn{
    color: white;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 6px 12px;
    cursor: pointer;
    background: #282828;
}
.showMoreBtn:hover {
    background: #d2455f;
}
.contact {
    padding-left: 80px;
}

.descriptionBlock {
    padding: 10px;
    background-color: #282828;
    border-radius: 15px;
    margin-left: 25px;
    color: white;
}
.wrapper{
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #1a1a1a;
}

.wrapperAvaBlock{
    color: white;
    height: 414px;
    width: 248px;
    background-color: #282828;
    border-radius: 15px;
}

.wrapperImg {
    margin-left: 24px;
    margin-top: 35px;
}

.avaProfile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.name {
    font-size: 30px;
    padding-left: 20px;
}
.descriptionItem {
    padding-left: 20px;
    margin-top: 8px;

}
.besday {
    margin-top: 20px;
    padding-left: 20px;

}

.statistic {
    color: white;
    display: flex;
    margin-left: 25px;
    background-color: #282828;
    border-radius: 15px;
    margin-top: 20px;
    padding-top: 21px;
    height: 104px;
}


.friends {
    margin-left: 75px;
    font-size: 30px;
}

.subs{
    margin-left: 40px;
    font-size: 30px;
}

.tracks {
    margin-left: 40px;
    font-size: 30px;
}

.videos {
    margin-left: 40px;
    font-size: 30px;
}

.groups {
    margin-left: 40px;
    font-size: 30px;
}

.friendsItem {
    margin-left: 25px;
}

.subsItem{
    margin-left: 3px;
}

.tracksItem {
    margin-left: 10px;
}

.groupsItem {
    margin-left: 28px;
}
.videosItem {
    margin-left: 23px;
}













